/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-accent: #D32F37;
	-fx-focus-color: #D32F37;
	-fx-default-button: #E3AEB1;
}
.dialog-pane{
	-fx-accent: #D32F37;
	-fx-focus-color: #E3AEB1;
}
.menu .label{
	-fx-font-size: 1.166667em;
}